.cmsQuiz
  background #EFEFEF
  width 50%
  margin 0 auto
  font-size 15px
  outline none

  .hide
    display none

  .invisible
    visibility hidden


  .quiz-container-inner
    padding 10px 0

    .quiz-title
      margin 20px 10px

      .quiz-main-title
        font-size 20px
        margin-bottom 15px
        font-weight 500
        line-height 25px
        border-bottom 3px solid #BFAE62
        display inline-flex


      .quiz-sub-title
        margin 0 50px 0 0
        line-height 20px


    .slick-part

      .slick-item

        .quiz-image
          img
            width 50%
            margin 0 auto

        .quiz-question
          margin 20px

          .quiz-question-num-container
            float left
            margin-right 10px

            .quiz-question-num
              color #BFAE62
              height 30px
              width 30px
              background #ffffff
              border 2px solid #BFAE62
              line-height 30px
              border-radius 30px
              text-align center

          .quiz-question-text
            font-size 18px
            line-height 20px
            font-weight 500
            padding-left 45px

          .no-click
            pointer-events none


          .quiz-question-options
            margin-top 20px


            ul
              list-style none

              .option-chosen
                background #BFAE62

              li
                line-height 30px
                background #DBDBDB
                margin 5px 0
                min-height 30px

                .magic-radio 
                  position absolute
                  display none
                

                .magic-radio + label 
                  position relative
                  display block
                  cursor pointer
                  vertical-align middle
                  padding-left 30px
                

                .magic-radio + label:before 
                  position absolute
                  top 7
                  left 7
                  display inline-block
                  width 14px
                  height 14px
                  content ''
                  border 1px solid #000
                  margin-right 10px
                  border-radius 50%
                

                .magic-radio + label:after 
                  position absolute
                  display none
                  content ''
                  top 10px
                  left 10px
                  width 10px
                  height 10px
                  border-radius 50%
                  background #000
                

                .magic-radio:checked + label 
                  color #fff
                

                .magic-radio:checked + label:after 
                  display block
                

                .magic-radio:checked + label:before 
                  border 1px solid #000
                

                &:hover
                  background #BFAE62

          .quiz-process
            float left
            margin-top 10px


        .nextButton
          margin-right 20px
          float right
          width 80px
          height 40px
          line-height 40px
          background #BFAE62
          color #fff
          text-align center
          cursor pointer

      .score-div
        text-align center
        border-top 1px solid #E3E3E3
        border-bottom 1px solid #E3E3E3
        height 430px


        h1
          font-size 20px
          margin-top 20px

        .score-part
          line-height 200px
          height 200px
          background-color white
          margin 20px 30px 50px 30px
          font-size 40px
          color #BFAE62

          .score
            font-size 50px


        .icon-list
          position relative
          float left
          left 50%


          .share
            margin-top 40px
            width 100%
            height 50px
            padding 9px 10px 9px 0
            position relative
            left -50%

            a
              display block
              float left
              width 32px
              height 32px
              margin 0 6px


              img
                width 100%


      .restartButton
        margin 50px auto 0 auto!important
        float none!important
        width 50%!important


    .quiz-result
      padding  0 20px 30px 20px

      .quiz-result-title
        margin 10px 0
        color #BFAE62
        font-size 24px
        font-weight 500


      .quiz-result-text
        color #4C4C4C
        font-weight 200


