* {
    font-size: 16px;
}

body {
    font-family: Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.quiz-container-outer {
    background: #EFEFEF;
    width: 400px;
    /*height: 800px;*/
    margin: 0 auto;
}

.quiz-container-inner {
    padding: 10px 0;
}

.quiz-title {
    margin: 20px 10px;
}

.quiz-main-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 25px;
    border-bottom: 3px solid #B4A24E;
    width: 215px;
}

.quiz-sub-title {
    margin: 0 50px 0 0;
    line-height: 20px;
}

.slick-part {
    /*visibility: hidden;*/
}

/*slick slide height eliminate*/
.slick-slide {
    height: auto!important;
}

.quiz-image img {
    width: 100%;
}

.quiz-question {
    margin: 20px;
}

.quiz-question-num-container {
    float: left;
    height: 50px;
    margin-right: 10px;
}

.quiz-question-num {
    color: #B4A24E;
    height: 30px;
    width: 30px;
    background: #ffffff;
    border: 2px solid #B4A24E;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
}

.quiz-question-text {
    font-size: 18px;
    font-weight: 500;
    padding-left: 45px;
}

.quiz-question-options {

}

.quiz-question-options ul {
    list-style: none;
}

.quiz-question-options ul li {
    line-height: 30px;
    background: #DBDBDB;
    margin: 5px 0 5px -45px;
}

.quiz-question-options ul li:hover {
    background: #B4A24E;
}

.quiz-result {
    margin: 30px 20px 0 20px;
    min-height: 200px;
}

.quiz-result-title {
    margin: 10px 0;
    color: #B4A24E;
    font-size: 24px;
    font-weight: 500;
}

.quiz-result-text {
    color: #4C4C4C;
    font-weight: 200;
}


.hide {
    display: none;
}